

.mainContainer {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #b87c4c, #9d6346, #7f4c3e, #603934, #412728);
  .container {
    width: 1100px;
    display: flex;
    flex-direction: row;
    margin: 0 50px 80px 50px;
    padding-top: 40px;
    .board {
      width: 100%;
      height: 100%;
      .levelSelection {
        width: 80%;
        margin: 0 auto 50px auto;
        display: flex;
        justify-content: space-between;
        .level {
          font-size: 180%;
          margin: 20px;
          list-style: none;
          color: #FFDE00;
          border-bottom: 2px solid #FFCB0A;
          letter-spacing: 2px;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            color: #fff;
            border-bottom: 2px solid #fff;
          }
        }
      }
      .containerBoard {
        width: 90%;
        margin: 0 auto;
        .result {
          display: flex;
          .guessed {
            font-size: 200%;
            letter-spacing: 1px;
            color: #fff;
            margin: 2px 0 0 10px;
            transition: 1s;
          }
          .reset {
            width: 300px;
            height: 40px;
            line-height: 40px;
            font-size: 130%;
            text-align: center;
            border-radius: 20px;
            border: 2px solid #FFDE00;
            color: #FFDE00;
            letter-spacing: 1px;
            background: none;
            outline: none;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
              color: #fff;
              border: 2px solid #fff;
            }
          }
        }
        .row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: row;

        }
      }
    }
  }
}