.mainContainer {
  .board {
    width: 800px;
    height: 600px;
    background-color: lightblue;
    margin: 100px auto;
    .row {
      display: flex;
      flex-direction: row;
        .cardContainer {
          position: relative;
          width: 70px;
          height: 100px;
          margin: 20px;
          .flipIt{
            transform: rotateY(180deg);
          }
          .card {
            position: absolute;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all 0.5s ease;

            .frontCard {
              position: absolute;
              width: 100%;
              height: 100%;
              backface-visibility: hidden;
              background-color: red;
              color: black;
              line-height: 100px;
              text-align: center;
            }
            .backCard {
              position: absolute;
              width: 100%;
              height: 100%;
              backface-visibility: hidden;
              background-color: blue;
              color: black;
              line-height: 100px;
              text-align: center;
              transform: rotateY(180deg);
            }
          }
        }
      }
    }
  }
