@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

.mainContainer {
  width: 100%;
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction:  column;
    .board {
      width: 100%;
      height: 100%;
      .levelSelection {
        width: 100%;
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        .level {
          width: 30%;
          font-size: 1.4rem;
          list-style: none;
          color: #FFF;
          letter-spacing: 2px;
          cursor: pointer;
          &:nth-of-type(2){
            text-align: center;
          }
          &:nth-of-type(3){
            text-align: right;
          }
          &:hover {
              -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
              -webkit-mask-size: 200%;
              animation: shine 3s infinite;
            }
          }
        }
      }
      .containerBoard {
        width: 100%;
        .result {
          display: flex;
          justify-content: center;
        }
        .row {
          width: 100%;
          height: 80px;
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
        }
      }
    }
  }
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .mainContainer {
    .container {
      .board{
        .levelSelection{
          .level {
            font-size: 170%;
          }
        }
      }
      .containerBoard {
        .row {
          height: 120px;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mainContainer {
    .container {
      .board{
        .levelSelection{
          .level {
            font-size: 190%;
          }
        }
      }
      .containerBoard {
        .row {
          height: 170px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1025px) {
  .mainContainer {
    .container {
      width: 1024px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .board{
        width: 68%;
        .levelSelection{
          margin: 30px 0;
          .level{
            font-size: 180%;
          }
        }
      }
      .clock{
        width: 28%;
      }
      .containerBoard{
        .row{
          height: 190px;
        }
      }
    }
  }
}