.mainContainer {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #b87c4c, #9d6346, #7f4c3e, #603934, #412728); }
  .mainContainer .container {
    width: 1100px;
    display: flex;
    flex-direction: row;
    margin: 0 auto 80px auto;
    padding-top: 40px; }
    .mainContainer .container .board {
      width: 100%;
      height: 100%; }
      .mainContainer .container .board .levelSelection {
        width: 80%;
        margin: 0 auto 50px auto;
        display: flex;
        justify-content: space-between; }
        .mainContainer .container .board .levelSelection .level {
          font-size: 180%;
          margin: 20px;
          list-style: none;
          color: #FFDE00;
          border-bottom: 2px solid #FFCB0A;
          letter-spacing: 2px;
          transition: 0.5s;
          cursor: pointer; }
          .mainContainer .container .board .levelSelection .level:hover {
            color: #fff;
            border-bottom: 2px solid #fff; }
      .mainContainer .container .board .containerBoard {
        width: 90%;
        margin: 0 auto; }
        .mainContainer .container .board .containerBoard .result {
          display: flex; }
          .mainContainer .container .board .containerBoard .result .guessed {
            font-size: 200%;
            letter-spacing: 1px;
            color: #fff;
            margin: 2px 0 0 10px;
            transition: 1s; }
          .mainContainer .container .board .containerBoard .result .reset {
            width: 300px;
            height: 40px;
            line-height: 40px;
            font-size: 130%;
            text-align: center;
            border-radius: 20px;
            border: 2px solid #FFDE00;
            color: #FFDE00;
            letter-spacing: 1px;
            background: none;
            outline: none;
            cursor: pointer;
            transition: 0.2s; }
            .mainContainer .container .board .containerBoard .result .reset:hover {
              color: #fff;
              border: 2px solid #fff; }
        .mainContainer .container .board .containerBoard .row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: row; }
