.mainContainer .board {
  width: 800px;
  height: 600px;
  background-color: lightblue;
  margin: 100px auto; }
  .mainContainer .board .levelSelection .level {
    margin: 20px;
    display: inline-block; }
  .mainContainer .board .row {
    display: flex;
    flex-direction: row; }
    .mainContainer .board .row .cardContainer {
      position: relative;
      width: 70px;
      height: 100px;
      margin: 20px; }
      .mainContainer .board .row .cardContainer .flipIt {
        transform: rotateY(180deg); }
      .mainContainer .board .row .cardContainer .card {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s ease; }
        .mainContainer .board .row .cardContainer .card .frontCard {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          background-color: red;
          color: black;
          line-height: 100px;
          text-align: center; }
        .mainContainer .board .row .cardContainer .card .backCard {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          background-color: blue;
          color: black;
          line-height: 100px;
          text-align: center;
          transform: rotateY(180deg); }
          .mainContainer .board .row .cardContainer .card .backCard .logo0 {
            background-image: url("../logo-memoryCard/python.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo1 {
            background-image: url("../logo-memoryCard/angular.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo2 {
            background-image: url("../logo-memoryCard/c.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo3 {
            background-image: url("../logo-memoryCard/java.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo4 {
            background-image: url("../logo-memoryCard/node.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo5 {
            background-image: url("../logo-memoryCard/ruby.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo6 {
            background-image: url("../logo-memoryCard/css.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo7 {
            background-image: url("../logo-memoryCard/html5.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo8 {
            background-image: url("../logo-memoryCard/js.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo9 {
            background-image: url("../logo-memoryCard/mySQL.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo10 {
            background-image: url("../logo-memoryCard/vue.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
          .mainContainer .board .row .cardContainer .card .backCard .logo11 {
            background-image: url("../logo-memoryCard/react.jpg");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px; }
