.clock {
  width: 360px;
  height: 500px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  font-size: 150%;
  color: #FFDE00;
  .startTimer{
    text-align: center;
    border: 3px dotted #fff;
    cursor: pointer;
    margin: 10px 0;
  }
  .timer{
  span{
    padding-left: 25px;
    }
  }
  .timeGuessed{
    margin: 10px 0;
    span{
      padding-left: 9px;
    }
  }
}