.gameContainer{
  overflow: auto;
  color: #fff;
  letter-spacing: 1px;
  background-image: linear-gradient(to right bottom, #005248, #327857, #6b9e5e, #afc264, #ffe171);
  .disableAll{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .box{
    display: block;
    position: fixed;
    background-color: #3176FF;
    border-radius: 20px;
    width: 300px;
    height: 150px;
    z-index: 11;
    top: 300px;
    left: calc(50% - 150px);
    .popUpText{
      margin: 10px 10% 0 10%;
      width: 80%;
      line-height: 0.9rem;
      letter-spacing: 1px;
      text-align: center;
      display: block;
      font-size: 0.8rem;
    }
    .popUpName{
      margin-top: 16px;
      width: 100%;
      text-align: center;
      display: block;
      font-size: 1.4rem;
    }
    .formUserName{
      width: 100%;
      margin: 14px 0 0 35px;
      .inputName{
        border: none;
        height: 25px;
        padding-left: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      .sendUserName{
        height: 27px;
        width: 60px;
        border: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        &:hover{
          color: #fff;
          background-color: #555;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .gameContainer{
    height: 100vh;

  }
}